<section class="main-header">
  <p class="flash"><%= notice %><%= alert %></p>
</section>

<section>
  <div class="row">
    <div class="col-md-8 col-sm-8">
      <img src="<%= asset_path "fb.gif" %>">
    </div>
    <div class="col-md-2 col-sm-4">
    <% if user_signed_in? %>
      <p class="box1">
      <br><br><br>
      あなたの人生をタイムラインにシェアしよう
      <br><br><br><br><br>
      <%= link_to '投稿する', new_topic_path, class: 'btn btn-primary' %>
      </p>
    <% else %>
      <p class="box1">
      <br><br><br>
      アカウント作成はこちら
      <br><br><br><br><br>
      <%= link_to '作成する', new_user_registration_path, class: 'btn btn-primary'  %>
    <% end %>
    </div>
  </div>
</section>
