<p><%= notice %></p>

<h1>タイムライン</h1>

<% @topics.each do |topic| %>
  <p><%= topic.content %></p>
  <%= link_to "編集", edit_topic_path(topic.id) %>
  <%= link_to '削除', topic_path(topic.id), method: :delete, data:{confirm: '本当に削除して良いですか？'} %>
<% end %>

<%= link_to "投稿する", new_topic_path %>
