<h2>お知らせ</h2>
<ul>
  <% @notifications.each do |notification| %>
  <hr>
    <li>
      <p>
      <span><%= "既読" if notification.read==true %></span>
      <span><%= "未読" if notification.read==false %></span>
      <p>
        <%= notification.comment.user.try(:name) %>さんが
        あなたの投稿（<%= link_to "#{notification.comment.topic.content}", topic_path(notification.comment.topic, notification_id: notification.id) %>）にコメントしました。
      </p>
      <p><%= notification.created_at %></p>
    </li>
  <% end %>
</ul>
